*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
}

header,main{
    margin: auto;
    width: 80vw;
    background-color: white;
}

.nav-link:hover{
    color: black;
}
section{
    padding: 10px;
}

a{
    text-decoration: none;
}

@media(max-width: 991px){
    header,main{
        margin: auto;
        width: 100vw;
        background-color: white;
    }

    #controle-menu{
        display:flex;
        flex-direction: column;
    }
    
}